@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Styles for Dark Mode */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: white; /* Light mode background */
  color: black; /* Light mode text color */
}

.App {
  min-height: 100vh; /* Ensure the App covers the full viewport height */
}

.navbar {
  background-color: white; /* Light mode navbar background */
}

header {
  color: black; /* Light mode header text color */
}

/* Dark Mode Styles */
.dark body, .dark html {
  background-color: #333; /* Dark mode background */
  color: white; /* Dark mode text color */
}

.dark .navbar {
  background-color: #222; /* Dark mode navbar background */
}

.dark header {
  color: white; /* Dark mode header text color */
}

.dark .fact-list li::marker {
  color: #87cefa; /* Light blue color for bullet points remains the same */
}
